:root {
  --white: #f0f2f5;
  --dark: #090c15;
  --yellow: #ff9e43;
  --green: #03dae2;
  --red: #e7202d;
  --pink: #FF1E5E;
  --text: #666666;
  --gray-hard: #312E38;
  --gray-soft: #C4C4C4;
  --button: #E71A41;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: monospace;
  list-style: none;
}

body {
  background-image: url(./assets/background\ fundo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}

.custom-img {
  width: 200px;
  height: 120px;
  margin-top: 3%;
  margin-left: 20%;
}

h1 {
  color: #F0C733;
  font-family: 'monospace';
  margin-left: 18%;
  padding-top: 3%;
  
}

h2 {
  color: #F0C733;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10%;
  text-align: center;
  padding-right: 55%;
  padding-top: 7%;
}

hr {
  padding-right: 5%;
  margin-left: 10%;
  margin-right: 55%;
  border-color: #F0C733;
  margin-top: 6%;
}

.contact {
  font-family: 'monospace';
  font-size: 125%;
  color: #F0C733;
  padding-left: 10%;
  padding-top: 5%;
}

.container-flex {
    display: flex;
    background-color: rgba(238, 238, 238, 0.042);
    border: 2px solid #F0C733;
    padding: 380px;
    max-width: 200px;
    margin-left: 50%;
    position: absolute;
    justify-content: space-around;
}

.formulario > p {
  font-size: 25px;
  font-family: 'monospace';
  color: #F0C733;
  outline-width: 20px;
  align-items: flex-end;
 
  
}
